p, h1, h2{
    color: rgb(8, 97, 241);
}

body{
    background-color: black;

}

.header{
    width: 100%;
    display: flex;
    justify-content: end;
}

.bodyBoasVindas{
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}