p, h1, h2{
    color: rgb(8, 97, 241);
}

body{
    background-color: black;
}

.logo_navbar{
    width: 5%;
    height: 5%;
}

#header{
    width: 100%;
}

.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header{
    width: 100%;
    display: flex;
    justify-content: end;
}

.body_estilo{
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}